
<div fxFlexLayout="row"
fxLayoutAlign="start center"
class="header">
    <div fxFlex="5">
        <button mat-button [matMenuTriggerFor]="menuToggle">
            <span class="fas fa-bars icon"></span>
        </button>
        <mat-menu #menuToggle="matMenu">
            <button class="menu" mat-menu-item routerLink="/home" routerLinkActive="active">Home</button>
            <button class="menu" mat-menu-item routerLink="/accod">Accidental Overdoses</button>
            <button class="menu" mat-menu-item>TBA</button>
        </mat-menu>
    </div>

    <div fxFlex="95"
    class="title">
        <p>Informatics Database</p>
    </div>
</div>
