.footer {
    width:100%;
    height: 10vh;
    z-index: 5;
    padding: 0vh 0vh 0vh 0vh;
    bottom: 0;
    position: fixed;
    color: floralwhite;
    background-color: #212121;
}

.footer-text {
    text-align: center;
    font-size: 1.7vh;
}