
.search-container {
    padding: 5vh 0vh 5vh 0vh;
}

.option {
    color: black;
}

.category {
    width: 40%;
}

.search {
    width: 80%;
}

.search-button {
    color: floralwhite;
    background-color: #383838;
}

