<div fxFlexLayout="column"
fxFlexAlign="center center"
class="container">

    <div fxFlex="60"
    fxFlexOffset="10">
        <div *ngIf="searchResults">
            <br>
            <div *ngFor="let record of searchResults">
                <span>Age: {{ record.Age }}<br></span>
                <span>Sex: {{ record.Sex }}<br></span>
                <span>Race: {{ record.Race }} <br></span>
                <span>Cause of Death: {{ record.COD }}<br></span>
                <span>Manner of Death: {{ record.MannerofDeath }}<br></span>
                <span>Location: {{ record.Location }}<br></span>
                <br>
            </div>
        </div>
    </div>


    <div fxFlex="30"
    fxFlexOffset="5"
    class="search-bar">
        <div>
            <mat-form-field class="search">
                <mat-label>Search</mat-label>
                <input #search matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="category">
                <mat-label>Select a Category</mat-label>
                <mat-select #category
                [(value)]="categorySelected"
                (selectionChange)="onSelectionChange(category.value)">
                    <div *ngFor="let category of searchCategory">
                        <mat-option value="{{category}}"><span class="option">{{ category }}</span></mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button mat-button class="search-button"            
            [disabled]="isDisabled"
            (click)="onSearch(search.value)">Search</button>
        </div>
    </div>


</div>