<div fxFlexLayout="column"
fxFlexAlign="center center">
    <div fxFlex="50"
    fxFlexOffset="10"
    class="accod-container">
        <div *ngIf="accodRecords">
            <br>
            <div *ngFor="let record of accodRecords">
                <span>Age: {{ record.Age }}<br></span>
                <span>Sex: {{ record.Sex }}<br></span>
                <span>Race: {{ record.Race }} <br></span>
                <span>Cause of Death: {{ record.COD }}<br></span>
                <span>Manner of Death: {{ record.MannerofDeath }}<br></span>
                <br>
            </div>
        </div>
    </div>
</div>