<div fxFlexLayout="column"
fxFlexAlign="center center">
    <div fxFlex="65"
    fxFlexOffset="15"
    class="accod-container">
        <div *ngIf="accodRecords">
            <br>
            <div *ngFor="let record of accodRecords">
                <span>Age: {{ record.age }}<br></span>
                <span>Sex: {{ record.sex }}<br></span>
                <span>Race: {{ record.race }} <br></span>
                <span>Cause of Death: {{ record.COD }}<br></span>
                <br>
            </div>
        </div>
    </div>
</div>