@import '~@angular/material/theming';

$app-primary: mat-palette($mat-grey, 300, 400, 500);
$app-accent: mat-palette($mat-grey, 100, 200, 300);
$app-warn : mat-palette($mat-grey, 900, 800, 700);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

$general-typography: mat-typography-config(
  $font-family: 'IM Fell English SC, sans-serif'
);

// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);